body{
    background-image: linear-gradient(to left, magenta, tomato);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #calculadora table{
	border-collapse: collapse;
}
.calculator {
    
    margin: 50px auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .display {
    width: 90%;
    padding: 10px;
    background-color: #f7f7f7;
  }
  
  .display input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    border: none;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .keys button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease-in-out;
  }
  
  .keys button:hover {
    background-color: #d7d7d7;
  }
  
  .keys button:active {
    background-color: #b7b7b7;
  }

  .main{

    display: inline;
  }
  